* {
	margin:0;
	padding:0;
}
body {
	background:repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAYAAAAPDoR2AAAANUlEQVQIW2NkwAMYiZbMVrPdPPXWYV+YBrjOp5bTNksfz/KF0SAFYEl0HTAFjMgqke0HiQMAe/Aabvl6ygwAAAAASUVORK5CYII=);
}
#container {
	margin:10% auto;
	max-width:450px;
	box-shadow:0 0 5px #000;
	padding:10px;
	background-color:#fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

h1 {
	font-family:'Megrim',cursive;
	text-align:center;
}

#image {
	display:block;
	float:right;
	width:23px;
	height:23px;
	background-image:url('close_button.png');
	border-radius:50%;
	box-shadow:0 0 3px #fff;
	cursor:pointer;
}

ul {
	list-style:none;
	text-align:left;
}

li {
	padding:5px;
        -webkit-transition: all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
	background:#e74c3c;
	margin-bottom:3px;
	font:18px monospace;
	color:white;
}
li[rel="me"] {
	text-decoration:line-through;
	background:#2ecc71;
}
input {
	width:100%;
	text-align:center;
	font-size:22px;
	outline: none;	
	background-color:#1abc9c;
	border:0px solid rgba(255,255,255,0.2);
	color:#fff;
	margin:5px 0;
	padding-top:5px;
	padding-bottom:5px;
}
input:focus {
 	outline: none;
	background:#e74c3c;
}
input[type="checkbox"] {
	width:15px;
	margin-right:5px;
}
::-webkit-input-placeholder {
   color: rgba(255,255,255,0.7);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255,255,255,0.7);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255,255,255,0.7);
}

:-ms-input-placeholder {  
   color: rgba(255,255,255,0.7);
}
a {
	text-decoration:none;
	font:10px monospace;
	color:red;
}
